.btn{
    width:  150px;
    height: 150px;
    border-radius:30px 30px 30px 30px ;
    z-index: 1;
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
    padding: 0.5em 1em;
   
    }
    button:hover{
        cursor: pointer;
        animation: yo 0.5s,ya 2s;
    }
@keyframes yo{
    0%,
    100%{transform: scale(1,1);}
    25% {transform: scale(0.9,1.1);}
    50% {transform: scale(1.1,0.9);}
    75% {transform: scale(0.95,1.05);}
    }
@keyframes ya {
        0%  {background-color: rgb(143, 4, 4);    }
        20% {background-color: orange; }
        40% {background-color: yellow; }
        60% {background-color: green;  }
        80% {background-color: blue;   }
        100%{background-color: purple; }
    
    }
.main {
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    }
