#btn{
    width: 2000px;
    height: 200px;
    border-radius:30px 30px 30px 30px;
    }
.main {
     display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    }
